.brings {
  display: flex;
  &__colum {
    padding: 120px 195px 120px 120px;
    flex: 50%;
    width: 50%;
    background-color: #e3eeed;
    min-height: 640px;
    &_right {
      flex: 50%;
      background-color: $main-color;
      padding: 165px 132px 203px 115px;
    }
  }
  &__title {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: $main-color;
  }
  &__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: $main-color;
    transition: 0.2s all;
    text-align: left;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-left: 34px;
      background: url(../../icons/Vector_right.png) center (center / cover)
        no-repeat;
    }
  }
  &__list {
    margin-top: 18px;
    list-style: none;
    padding: 0;
    li {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 42px;
      color: $main-color;
      margin-bottom: 18px;
    }
  }
  &__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
  }
}
