.button {
  &_nav {
    display: inline-block;
    vertical-align: middle;
    width: 137px;
    height: 40px;
    border-radius: 6px;
    background: #43806c;
    font-family: Raleway;
    font-size: 14px;
    color: #ffffff;
    vertical-align: middle;
  }
}
