.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 19px 41px 31px 45px;
  min-height: 90px;
  background-color: #fff;
  z-index: 2;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    list-style: none;
    margin-right: 25px;
    margin-top: revert;
    li {
      display: flex;
      align-items: center;
      margin-right: 50px;
      color: $main-color;
      font-size: 14px;
      text-align: center;
      a {
        text-decoration: none;
        color: $main-color;
        transition: 0.3s all;
        &:hover {
          color: #e3eeed;
          transition: 0.3 all;
        }
      }
    }
  }
  &__link {
    display: inline-block;
    margin-right: 170px;
  }
  &__dropdown {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #214e41;
    align-items: center;
    cursor: pointer;

    &::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 8px;
      background: url(../../icons/lg_down.png) center (center / cover) no-repeat;
      margin-left: 5px;
    }
  }
  &__lang {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #214e41;
    text-transform: uppercase;
  }
  &__portlet {
    position: fixed;
    width: 300px;
    height: 150px;
    top: 90px;
    right: 0;
    background-color: #fff;
    transition: 0.1s;
    transform: translateY(0%);
    z-index: 1;
    &_active {
      transform: translateY(-100%);
    }
  }
}
